<div class="invoice_detail hidden flex flex-col gap-y-4 py-4">
  <h1 class="text-lg font-bold">DETAILS</h1>
  <div class="flex flex-col gap-x-24">
    <div class="flex flex-col gap-y-2">
      <p class="italic">Company Name</p>
      <input
        type="text"
        name="company_name"
        id="company_name"
        class="detail border-2 border-orange-300 py-2 pr-48"
        placeholder=""
      />
    </div>
    <div class="flex flex-col gap-y-2">
      <p class="italic">Invoice ID</p>
      <input
        type="text"
        name="invoice_id"
        id="invoice_id"
        class="detail border-2 border-orange-300 py-2 pr-48"
        placeholder=""
      />
    </div>

    <div class="mt-10">
      
      <button type="submit" value="Submit" class="bg-[#ff7f00] px-4 py-2 text-white font-bold submit-form">
        Submit
      </button> 
      </div>
  </div>
</div>
