<div class="invoice_detail hidden flex flex-col gap-y-4 py-4">
  <h1 class="text-lg font-bold">DETAILS</h1>
  <div class="flex flex-col gap-y-4">

    <input name="invoice_id" placeholder="Invoice ID" id="invoice_id"
      class="price shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="text" />
    <input name="company_name" placeholder="Company Name" id="company_name"
      class="price shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="text" />

    <input name="company_location" placeholder="Company Location" id="company_location"
      class="price shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="text" />

    <select id="invoice_type"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Choose Invoice Type</option>
        <option value="US">Proforma Invoice</option>
        <option value="CA">Invoice</option>
        <option value="FR">Quote</option>
      </select>



  </div>
</div>