<div class="production hidden pb-24">
  <div class="my-4 ">
    <h1 class="text-3xl font-bold text-red-600">Production</h1>
  </div>
  <div class="modelling flex flex-col gap-y-4">
    <h1 class="text-lg font-bold">Modelling</h1>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="modelling_days">
            Number of Days Needed
          </label>
          <input name="modelling_days" min="0" value="0" id="modelling_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="modelling_artists">
            Number of Artists
          </label>
          <input name="modelling_artists" min="0" value="0" id="modelling_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>
    </div>
  </div>

  <div class="texturing flex flex-col gap-y-4">
    <h1 class="text-lg font-bold">Texturing</h1>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="texturing_days">
            Number of Days Needed
          </label>
          <input name="texturing_days" min="0" value="0" id="texturing_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="texturing_artists">
            Number of Artists
          </label>
          <input name="texturing_artists" min="0" value="0" id="texturing_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>
    </div>
  </div>

  <div class="rigging flex flex-col gap-y-4">
    <h1 class="text-lg font-bold">Rigging</h1>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="rigging_days">
            Number of Days Needed
          </label>
          <input name="rigging_days" min="0" value="0" id="rigging_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="rigging_artists">
            Number of Artists
          </label>
          <input name="rigging_artists" min="0" value="0" id="rigging_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>
    </div>
  </div>

  <div class="animation flex flex-col gap-y-4">
    <h1 class="text-lg font-bold">Animation</h1>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="animation_days">
            Number of Days Needed
          </label>
          <input name="animation_days" min="0" value="0" id="animation_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="animation_artists">
            Number of Days Needed
          </label>
          <input name="animation_artists" min="0" value="0" id="animation_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>
    </div>
  </div>

  <div class="lookdev flex flex-col gap-y-4">
    <h1 class="text-lg font-bold">Look Dev</h1>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="lookdev_days">
            Number of Days Needed
          </label>
          <input name="lookdev_days" min="0" value="0" id="lookdev_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="lookdev_artists">
            Number of Days Needed
          </label>
          <input name="lookdev_artists" min="0" value="0" id="lookdev_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>
    </div>
  </div>

  <div class="layout flex flex-col gap-y-4">
    <h1 class="text-lg font-bold">Layout and Blocking</h1>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="layout_days">
            Number of Days Needed
          </label>
          <input name="layout_days" min="0" value="0" id="layout_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="layout_artists">
            Number of Artists
          </label>
          <input name="layout_artists" min="0" value="0" id="layout_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>
    </div>
  </div>

  <div class="fx flex flex-col gap-y-4">
    <h1 class="text-lg font-bold">FX</h1>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="fx_days">
            Number of Days Needed
          </label>
          <input name="fx_days" min="0" value="0" id="fx_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="fx_artists">
            Number of Days Needed
          </label>
          <input name="fx_artists" min="0" value="0" id="fx_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>
    </div>
  </div>

  <div class="lighting flex flex-col gap-y-4">
    <h1 class="text-lg font-bold">Lighting</h1>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="lighting_days">
            Number of Days Needed
          </label>
          <input name="lighting_days" min="0" value="0" id="lighting_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="lighting_artists">
            Number of Artists
          </label>
          <input name="lighting_artists" min="0" value="0" id="lighting_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>
    </div>
  </div>

  <div class="rendering flex flex-col gap-y-4">
    <h1 class="text-lg font-bold">Rendering</h1>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="rendering_days">
            Number of Days Needed
          </label>
          <input name="rendering_days" min="0" value="0" id="rendering_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="rendering_artists">
            Number of Artists
          </label>
          <input name="rendering_artists" min="0" value="0" id="rendering_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number" />
        </div>
      </div>
    </div>
  </div>
  <div class="inline-flex">
    <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l prod_btn_prev">
      Previous
    </button>
    <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r prod_btn_next">
      Next
    </button>
  </div>
</div>