<div class="postproduction hidden">
  <div class="my-4">
    <h1 class="text-3xl font-bold text-red-600 postprod_header">Post-Production</h1>
  </div>
  
  <div class="compositing flex flex-col gap-y-4 py-4">
    <div class="flex flex-col">
      <h1 class="text-lg font-bold pb-4">Compositing</h1>
      <div class="flex flex-row">
        <input
          checked
          id="compositing"
          type="checkbox"
          value="true"
          name="compositing"
          class="includes w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark: focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <span class="pl-2 text-sm compositing_text">Enable</span>
      </div>
    </div>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="compositing_days"
          >
            Number of Days Needed
          </label>
          <input
            name="compositing_days"
            min="0"
            value="0"
            id="compositing_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="compositing_artists"
          >
            Number of Artists
          </label>
          <input
            name="compositing_artists"
            min="0"
            value="0"
            id="compositing_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="editing flex flex-col gap-y-4 py-4">
    <div class="flex flex-col">
      <h1 class="text-lg font-bold pb-4">Editing & Sound Effects</h1>
      <div class="flex flex-row">
        <input
          checked
          id="editing"
          type="checkbox"
          value="true"
          name="editing"
          class="includes w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark: focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <span class="pl-2 text-sm editing_text">Enable</span>
      </div>
    </div>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="editing_days"
          >
            Number of days Needed
          </label>
          <input
            name="editing_days"
            min="0"
            value="0"
            id="editing_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="editing_artists"
          >
            Number of Artists
          </label>
          <input
            name="editing_artists"
            min="0"
            value="0"
            id="editing_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="motion_graphics flex flex-col gap-y-4">
    <div class="flex flex-col">
      <h1 class="text-lg font-bold pb-4">Motion Graphics</h1>
      <div class="flex flex-row">
        <input
          checked
          id="motion"
          type="checkbox"
          value="true"
          name="motion"
          class="includes w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark: focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <span class="pl-2 text-sm motion_text">Enable</span>
      </div>
    </div>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="motion_days"
          >
            Number of Days Needed
          </label>
          <input
            name="motion_days"
            min="0"
            value="0"
            id="motion_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="motion_artists"
          >
            Number of Artists
          </label>
          <input
            name="motion_artists"
            min="0"
            value="0"
            id="motion_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="inline-flex">
    <button
      class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l post_prod_btn_prev"
    >
      Previous
    </button>
    <button
      class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r post_prod_btn_next"
    >
      Next
    </button>
  </div>
</div>
