<div class="preproduction hidden">
  <div class="my-4 flex flex-row">
    <h1 class="text-3xl font-bold text-red-600">Pre-production</h1>
  </div>



  <div class="moodboard flex flex-col gap-y-4 py-4">
    <div class="flex flex-col">
      <h1 class="text-lg font-bold pb-4">Moodboard</h1>
      <div class="flex flex-row">
        <input
          checked
          id="moodboard"
          type="checkbox"
          value="true"
          name="moodboard"
          class="includes w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark: focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <span class="pl-2 text-sm moodboard_text">Enable</span>
      </div>
    </div>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="moodboard_days"
          >
            Number of days Needed
          </label>
          <input
            name="moodboard_days"
            min="0"
            value="0"
            id="moodboard_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="moodboard_artists"
          >
            Number of Artists
          </label>
          <input
            name="moodboard_artists"
            min="0"
            value="0"
            id="moodboard_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="Illustration flex flex-col gap-y-4">
    <div class="flex flex-col">
      <h1 class="text-lg font-bold pb-4">Illustration</h1>
      <div class="flex flex-row">
        <input
          checked
          id="illustration"
          type="checkbox"
          value="true"
          name="illustration"
          class="includes w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark: focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <span class="pl-2 text-sm illustration_text">Enable</span>
      </div>
    </div>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="illustration_days"
          >
            Number of Days Needed
          </label>
          <input
            name="illustration_days"
            min="0"
            value="0"
            id="illustration_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="illustration_artists"
          >
            Number of Artists
          </label>
          <input
            name="illustration_artists"
            min="0"
            value="0"
            id="illustration_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="storyboard flex flex-col gap-y-4 py-4">
    <div class="flex flex-col">
      <h1 class="text-lg font-bold pb-4">Storyboard</h1>
      <div class="flex flex-row">
        <input
          checked
          id="storyboard"
          type="checkbox"
          value="true"
          name="storyboard"
          class="includes w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark: focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <span class="pl-2 text-sm storyboard_text">Enable</span>
      </div>
    </div>
    <div class="grid grid-flow-col auto-cols-max gap-x-24">
      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="storyboard_days"
          >
            Number of Days Needed
          </label>
          <input
            name="storyboard_days"
            min="0"
            value="0"
            id="storyboard_days"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>

      <div class="flex flex-col gap-y-2">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="storyboard_artists"
          >
            Number of Artists
          </label>
          <input
            name="storyboard_artists"
            min="0"
            value="0"
            id="storyboard_artists"
            class="form-input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="number"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="inline-flex">
    <button
      class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l preproduction_btn_prev"
    >
      Previous
    </button>
    <button
      class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r preproduction_btn_next"
    >
      Next
    </button>
  </div>
</div>
